:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f8eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --border-bottom-line: 1px solid var(--color-grey-dark-2);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;

}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
}

.header {
    background-color: #fdfdfd;
    border-bottom: var(--color-grey-dark-1);
    height: 7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-left: 1rem;
        background-repeat: no-repeat;
    }

    .search-bar {
        flex: 0 0 35%;
        text-align: center;

        input {
            background-color: var(--color-grey-light-2);
            border: none;
            border-radius: 100px;
            transition: all .2s;
            height: 3rem;
            padding: 1rem 2rem;
            width: 90%;
            transition: all .2s;
            margin-right: -3.5rem;

            &:focus {
                outline: none;
                width: 100%;
            }
        }

        .search-icon .icon {
            height: 2rem;
            width: 2rem;
            transform: translateY(.5rem);

            &:focus {
                outline: none;
            }
        }
    }

    .comment-and-profile {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-box {
            display: flex;
            position: relative;

            .icon {
                margin-right: 1.2rem;
                height: 2.5rem;
                width: 2.5rem;
                fill: var(--color-grey-dark-2);


            }

            .icon-notification {
                font-size: .8rem;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 100%;
                background-color: var(--color-primary);
                color: var(--color-grey-light-1);

                display: flex;
                justify-content: center;
                align-content: center;

                position: absolute;
                top: -.4rem;
                left: 1.3rem;

            }
        }

        .user-img {
            margin: 1rem;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
        }

        .user-name {
            font-size: 1.4rem;
        }
    }
}

.main {
    display: flex;
    height: 90rem;

    .navbar {
        flex: 0 0 20%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-grey-dark-1);

        .navigation {
            font-size: 1.6rem;
            margin: 2rem;
            display: flex;
            justify-content: center;

            li {
                margin-top: 2rem;
                list-style-type: none;

                .iconbox-and-name:link,
                .iconbox-and-name:visited {
                    color: var(--color-grey-light-4);
                    text-decoration: none;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;

                }

                .iconbox-and-name:hover {
                    color: orangered;
                }

                .icon {
                    width: 1.75rem;
                    height: 1.75rem;
                    fill: currentColor;
                    margin-right: 2rem;

                }
            }

        }

        .footer {
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }


    }

    .content {
        flex-grow: 1;

        .banner {
            display: flex;

            .photo img {
                width: 32rem;
                height: 20rem;

            }
        }

        .overview {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--color-grey-dark-2);
            // height: 5rem;
            margin-top: -0.5rem;

            .overview-heading {
                margin: 0rem 2rem;
                font-size: 2rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                color: var(--color-grey-dark-3);
            }

            .overview-stars {
                margin-right: auto;

                svg {
                    width: 1.75rem;
                    height: 1.75rem;
                    fill: var(--color-primary);
                }
            }

            .overview-location {

                display: flex;
                justify-content: center;
                // margin-left: auto;
                margin: 0rem 2rem;

                svg {
                    width: 1.75rem;
                    height: 1.75rem;
                    fill: var(--color-primary);
                    margin: 0rem 1rem;
                }

                .btn-location {
                    color: var(--color-primary);
                    border: none;
                    border-bottom: 1px solid var(--color-primary);
                    background-color: transparent;

                }

                .btn-location:hover {
                    animation: pulse 1s;
                }

                @keyframes pulse {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.1);
                        box-shadow: 1px 1px rgba(0, 0, 0, 0.178);
                    }

                    100% {
                        transform: scale(1);
                    }
                }

                .btn-location:focus {
                    outline: none;
                }
            }

            .overview-vote {
                background-color: var(--color-primary);
                color: var(--color-grey-light-2);
                align-self: stretch;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;


                .overview-vote-average {
                    font-size: 2rem;
                }

                .overview-vote-count {
                    font-size: .8rem;
                    text-transform: uppercase;
                }

            }

        }

        .detail {
            display: flex;
            height: 50rem;
            background-color: var(--color-grey-light-2);
            font-size: 1.5rem;

            .plan {
                flex: 0 0 60%;
                background-color: var(--color-grey-light-1);
                margin: 4rem;
                padding: 3rem;
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.07);

                p:not(:last-child) {
                    margin-bottom: 2rem;
                }

                .line {
                    border-bottom: 0.5px solid var(--color-grey-light-3);
                }

                .feature .list {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 3rem;

                    .item {
                        flex: 0 0 50%;

                        .icon {
                            fill: var(--color-primary);
                            display: inline-block;
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 1rem;
                        }
                    }

                    li {
                        list-style-type: none;
                        margin: 1rem 0rem;
                    }

                    .line {
                        border-bottom: 0.5px solid var(--color-grey-light-3);
                    }
                }

                .share-with-friend {
                    display: flex;
                    justify-content: center;

                    padding: 2.5rem;

                    p {
                        margin: 1rem;
                    }

                    img {
                        border-radius: 100%;
                        width: 4rem;
                        height: 4rem;
                        margin-left: 0.5rem;
                        border: 0.3rem solid var(--color-grey-light-1);
                    }

                    img:not(:first-of-type) {
                        margin-left: -.8rem;
                    }
                }

            }

            .feedback {
                flex: 1;


                .user-review {
                    background-color: var(--color-grey-light-1);
                    margin: 4rem;
                    margin-left: 0rem;
                    box-shadow: 0px 0px 6px 0.1px rgba(0, 0, 0, 0.07);
                    padding: 2.5rem;



                    .user-box {

                        display: flex;
                        flex-flow: column;
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        position: relative;
                        z-index: 10;


                        .user-detail {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 2rem;
                            font-size: 1.4rem;
                            line-height: 1.4rem;


                            .user-img {
                                width: 4rem;
                                height: 4rem;
                                border-radius: 100%;
                            }

                            .user-name-and-date {
                                display: flex;
                                flex-flow: column;
                                margin-left: -4rem;

                                .user-name {
                                    font-weight: bold;
                                    margin-bottom: 0.5rem;
                                }

                                .user-date {
                                    font-size: 1.2rem;
                                }
                            }

                            .user-rating {
                                font-size: 2rem;
                                color: var(--color-primary);
                            }

                        }

                        &::before {
                            content: "\201C";
                            color: var(--color-grey-light-4);
                            font-size: 19rem;
                            font-family: sans-serif;
                            position: absolute;
                            top: 4rem;
                            left: -3.3rem;
                            z-index: -1;
                        }



                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;
                    color: var(--color-primary);
                    border: none;
                    border-bottom: 1px solid var(--color-primary);
                    background-color: transparent;
                    font-size: 1.6rem;


                    &.btn-show-all:hover {
                        animation: pulse 1s;
                    }

                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }

                        50% {
                            transform: scale(1.1);
                            box-shadow: 1px 1px rgba(0, 0, 0, 0.178);
                        }

                        100% {
                            transform: scale(1);
                        }
                    }

                    &.btn-show-all:focus {
                        outline: none;
                    }
                }
            }
        }

        .cta {
            flex: 1;
            background-color: var(--color-grey-light-1);
            height: 14.6rem;
            padding: 3rem;

            .book-now {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;


                font-size: 1.8rem;
                text-transform: uppercase;

                button {
                    font-size: 1.8rem;
                    font-weight: 300;
                    margin-top: 2rem;
                    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
                    color: var(--color-grey-light-1);
                    border-radius: 10rem;
                    padding: 1.5rem 3rem;
                    text-transform: uppercase;
                    border: none;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.300);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }


    }

}